.Header {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: baseline;
    padding: 1em;
    margin-bottom: 2em;
    background-image: url("wallpaper.png");
    color: black;
    font-weight: bold;
  }

  .Name {
    font-size: 40px;
  }
  .Header-Subtitle {
    color: black;
    padding: 1em;
    align-items: baseline;
  }

  .logo {
    height: 150px;
    width: 175px; 
    border-width: 10em;
    border-color: black;
  }

  .menu {
    overflow-y: auto;
    background-color: azure;
    padding: 1em;
    margin-bottom: 2em;
  }

  .footer{
    margin-top: 1rem;
    padding: 1rem;
    background-color: pink;
    /* position: fixed; */
    bottom: 0;
    left: 0;
    width: 100%;
    justify-content: center;
  }

  .map {
    height: 100px;
    width: 150px;
  }

  /* .hours {
    justify-content: right;
    align-items: right;
  } */